[Unit]
Description=Check glusterd config directory full
After=glusterd.service

[Service]
Type=simple
PassEnvironment=DISK_CHK_POLL_INTERVAL
ExecStart=/usr/local/bin/check_diskspace.sh $DISK_CHK_POLL_INTERVAL

[Install]
WantedBy=multi-user.target
