[Unit]
Description=Check glusterd config directory full
After=glusterd.service

[Service]
Type=simple
Environment="POLL_INTERVAL=120"
ExecStart=/usr/local/bin/check_diskspace.sh $POLL_INTERVAL

[Install]
WantedBy=multi-user.target
